@charset "utf-8";

:root{
    /* color */
    --mainColor: #59C3DC;
    --subColor: #134074;
    --accentColor: #EFA00B;
    --backgroundColor: #FCF7F8;
    --dimColor: #DAD2D8;
    --sliderHoverColor: #C8BCC5;
    --sliderActiveColor: #AAE1EE;
    /* variable */
    --sidebarWidth: 72px;
    --mainBorderRadius: 18px;
    --mainShadow: 0 4px 24px #0000004e;
    --fullBorderRadius: 1000px;
    --borderStyle: solid 1px var(--dimColor);
    --boldFont: 600;

    /* svg icon color filter */
    --color-convert-backgroundColor: invert(100%) sepia(20%) saturate(5627%) hue-rotate(184deg) brightness(110%) contrast(98%);
    --color-convert-mainColor: invert(66%) sepia(24%) saturate(767%) hue-rotate(144deg) brightness(97%) contrast(103%);
    --color-convert-subColor: invert(17%) sepia(96%) saturate(1024%) hue-rotate(189deg) brightness(94%) contrast(95%);
    --color-convert-accentColor: invert(64%) sepia(77%) saturate(2111%) hue-rotate(3deg) brightness(102%) contrast(91%);
}

body{
    background-color: var(--backgroundColor);
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--subColor);
}

header.sidebar{
    width: var(--sidebarWidth);
    background-color: var(--mainColor);
    position: fixed;
    padding: 72px 0;
    border-bottom-right-radius: 48px;
    display: flex;
    justify-content: center;

    & .nav{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        & .navItem{
            display: block;
            width: 30px;
            height: auto;
            aspect-ratio: 1/1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 78%;

            & a{
                display: block;
                width: 100%;
                height: 100%;
            }

            &.home{
                background-image: url(../img/homeIcon.svg);
                filter: var(--color-convert-backgroundColor);

                &.active{
                    background-image: url(../img/homeIcon.svg);
                    filter: var(--color-convert-subColor);
                }
            }

            &.addRecord{
                background-image: url(../img/addRecordIcon.svg);
                filter: var(--color-convert-backgroundColor);

                &.active{
                    background-image: url(../img/addRecordIcon.svg);
                    filter: var(--color-convert-subColor);
                }
            }

            &.profile{
                background-image: url(../img/profileIcon.svg);
                filter: var(--color-convert-backgroundColor);

                &.active{
                    background-image: url(../img/profileIcon.svg);
                    filter: var(--color-convert-subColor);
                }
            }

            &.active{
                filter: drop-shadow(0 0 24px var(--subColor));
            }
        }

        & .divider{
            display: block !important;
            width: 36px !important;
            height: 0 !important;
            border-top: solid 1.5px var(--backgroundColor) !important;
            opacity: 0.5;
            border-radius: var(--fullBorderRadius);
        }
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--dimColor);
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
    margin: 24px 0;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 18px;
        height: 18px;
        background: var(--subColor);
        border-radius: 50%;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 18px;
        height: 18px;
        background: var(--subColor);
        border-radius: 50%;
        cursor: pointer;
    }

    &:hover {
        background: var(--sliderHoverColor);
    }

    &:active {
        background: var(--sliderActiveColor);
    }
}

.commonButton{
    margin-left: auto;
    width: fit-content;
    height: 42px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: var(--fullBorderRadius);
    color: var(--backgroundColor);
    cursor: pointer;
}

.commonXLButton{
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    padding: 12px 48px;
    background-color: var(--mainColor);
    border-radius: var(--fullBorderRadius);
    color: var(--backgroundColor);
    font-size: 18px;
    font-weight: var(--boldFont);
    cursor: pointer;
}

main{
    width: calc(100vw - var(--sidebarWidth));
    margin-left: var(--sidebarWidth);
    padding: 72px;
    display: flex;
    gap: 48px;
}

.divider{
    display: block;
    width: 100%;
    height: 0;
    border-top: solid 1px var(--dimColor);
}

section.record{
    width: 70%;
    height: auto;
    padding: 30px;
    background-color: var(--backgroundColor);
    border: solid 1px var(--dimColor);
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--mainShadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .graph{
        width: 100%;
        height: 300px;
        border: solid 1px var(--dimColor);
        border-radius: calc(var(--mainBorderRadius) / 2);
    }

    & .indicator{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .wrapper{
            display: flex;
            gap: 72px;
            margin: 24px 0;
            align-items: center;

            & .title{
                color: var(--subColor);
                font-weight: var(--boldFont);
                font-size: 24px;
            }

            & .count{
                color: var(--accentColor);
                font-weight: var(--boldFont);
                font-size: 48px;
            }

            & .oxygenPacentage{

                & .wrapper{
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    & .icon{
                        width: 48px;
                        height: auto;
                        aspect-ratio: 1/1;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 78%;
        
                        &.aerobicIcon{
                            background-image: url(../img/aerobicIcon.svg);
                            filter: var(--color-convert-mainColor);
                        }
                        &.anoxicIcon{
                            background-image: url(../img/anoxicIcon.svg);
                            filter: var(--color-convert-subColor);
                        }
                    }
                    & p{
                        font-weight: var(--boldFont);
                        font-size: 30px;
                        margin: 12px 0;
    
                        &.aerobic{
                            color: var(--mainColor);
                        }
    
                        &.anoxic{
                            color: var(--subColor);
                        }
                    }
                }
            }
        }
    }
}

section.post{
    display: block;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 48px;

    & .userIcon{
        height: 42px;
        width: auto;
        aspect-ratio: 1/1;
        background-color: var(--dimColor);
        border-radius: var(--fullBorderRadius);
    }

    & .postForm, .postFeed{
        display: block;
        width: 100%;
        padding: 30px;
        background-color: var(--backgroundColor);
        border: solid 1px var(--dimColor);
        border-radius: var(--mainBorderRadius);
        box-shadow: var(--mainShadow);
    }

    & .postForm{

        & .postFormItem{
            display: flex;
            flex-direction: column;
            gap: 24px;

            & .wrapper{
                display: flex;
                gap: 18px;
                width: 100%;
                height: fit-content;
            }

            & .postInput{
                padding: 0 24px;
                width: 100%;
                height: 42px;
                border: var(--borderStyle);
                border-radius: var(--fullBorderRadius);

                &::placeholder{
                    opacity: 0.5;
                }
            }
        }
    }

    & .postFeed{
        position: relative;
        overflow: hidden;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 180px;
            background: linear-gradient(transparent,var(--backgroundColor));
        }

        & ul{
            display: flex;
            flex-direction: column;
            gap: 24px;
            height: 360px;
            overflow: scroll;
            padding-bottom: 180px;
            
            & .postCard{
                display: flex;
                flex-direction: column;
                gap: 12px;

                & .wrapper{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: fit-content;

                    .likeIndicator{
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        & .likeCount{
                            opacity: 0.8;
                        }

                        & .likeButton{
                            opacity: 0.5;
                            display: block;
                            height: 42px;
                            width: auto;
                            aspect-ratio: 1/1;
                            background-color: var(--dimColor);
                            background-image: url(../img/likeIcon.svg);
                            filter: var(--color-convert-subColor);
                            background-size: 50%;
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: var(--fullBorderRadius);
                        }
                    }                    
                }

                & .postContent{
                    opacity: 0.8;
                }

                & .divider{
                    margin-top: 12px;
                }

                &:last-child .divider{
                    display: none;
                }
            }
        }
    }

    & .switchFollow{
        display: block;
        width: 100%;
        padding: 12px;
        background-color: var(--backgroundColor);
        border: solid 1px var(--dimColor);
        border-radius: var(--mainBorderRadius);
        box-shadow: var(--mainShadow);
        display: flex;
        gap: 12px;

        & button{
            background-color: none;
            width: 50%;
            height: 42px;
            border-radius: calc(var(--mainBorderRadius) / 2);
            text-align: center;
            color: var(--subColor);
            cursor: pointer;
            opacity: 0.5;
            font-weight: var(--boldFont);
            transition: all .25s;

            &:hover{
                background-color: var(--dimColor);
                opacity: 1;
            }

            &.active{
                background-color: var(--mainColor);
                color: var(--backgroundColor);
                opacity: 1;
            }
        }
    }
}

section.recordForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 50%;
    margin: 0 auto;

    & .date{
        padding: 30px;
        background-color: var(--backgroundColor);
        border: solid 1px var(--dimColor);
        border-radius: var(--mainBorderRadius);
        box-shadow: var(--mainShadow);
    }

    & .recordFormItem{
        padding: 30px;
        background-color: var(--backgroundColor);
        border: solid 1px var(--dimColor);
        border-radius: var(--mainBorderRadius);
        box-shadow: var(--mainShadow);
        display: flex;
        flex-direction: column;
        gap: 24px;

        & .column{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        & .buttonWrapper{
            display: flex;
            gap: 12px;
            justify-content: space-between;
        }

        & .switchOxyButton{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: none;
            width: 50%;
            height: 60px;
            border-radius: calc(var(--mainBorderRadius) / 2);
            text-align: center;
            color: var(--subColor);
            cursor: pointer;
            opacity: 0.5;
            font-weight: var(--boldFont);
            transition: all .25s;

            & .icon{
                width: 30px;
                height: auto;
                aspect-ratio: 1/1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 78%;
                margin-right: 12px;

                &.aerobicIcon{
                    background-image: url(../img/aerobicIcon.svg);
                }
                &.anoxicIcon{
                    background-image: url(../img/anoxicIcon.svg);
                }
                filter: var(--color-convert-subColor);
            }

            &:hover{
                background-color: var(--dimColor);
                opacity: 1;
            }

            &:has(input:checked){
                background-color: var(--mainColor);
                color: var(--backgroundColor);
                opacity: 1;

                & .icon{
                    filter: var(--color-convert-backgroundColor);   
                    opacity: 1;                 
                }
            }
        }

        & .timeCol{

            & .sliderValue{
                margin-left: auto;
                font-size: 30px;
                font-weight: var(--boldFont);
                color: var(--accentColor);

                & span:not(.highlight){
                    opacity: 0.66;
                }

                & span.highlight{
                    font-size: 60px;
                    margin: 0 12px;
                    opacity: 1;
                }
            }
        }
    }
}

.userProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;

    & input, textarea{
        border: solid 1px var(--dimColor);
        border-radius: 6px;

    }
    
    & .upperSection{
        padding: 30px;
        background-color: var(--backgroundColor);
        border: solid 1px var(--dimColor);
        border-radius: var(--mainBorderRadius);
        box-shadow: var(--mainShadow);
        display: flex;
        gap: 48px;
        width: 60%;

        & .commonButton{
            &.edit{
                background-color: var(--accentColor);
                color: var(--backgroundColor);
            }

            &.cancel{
                background-color: var(--dimColor);
                color: var(--subColor);
            }
        }

        & .uesrIcon{
            display: block;
            width: 120px;
            height: 120px;
            aspect-ratio: 1/1;
            background-color: var(--dimColor);
            border-radius: var(--fullBorderRadius);
        }

        & .wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 6px;
            height: 100%;

            & .name{
                font-size: 24px;
                color: var(--mainColor);
                font-weight: var(--boldFont);
            }
    
            & .message{
                font-size: 18px;
            }
        }

        & .buttonWrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: end;
            gap: 6px;
            height: 100%;
            width: 100%;
        }
    }

    & .divider{
        /* border-color: var(--subColor); */
        width: 60%;
    }

    & .lowerSection{
        width: 60%;
        display: flex;
        align-items: center;
        gap: 48px;

        & table{
            margin-top: 24px;
            width: 100%;

            & tr{
                width: 100%;
                height: 42px;

                & th{
                    width: 40%;
                    font-weight: var(--boldFont);
                    font-size: 18px;
                }

                & td{
                    width: 60%;
                    opacity: 0.8;
                }
            }
        }

        & .title{
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-weight: var(--boldFont);
            color: var(--mainColor);
        }

        & .userInfomation{
            width: 50%;
            height: 100%;
            padding: 30px;
            background-color: var(--backgroundColor);
            border: solid 1px var(--dimColor);
            border-radius: var(--mainBorderRadius);
            box-shadow: var(--mainShadow);
        }

        & .wrapper{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 48px;

            & .follower, .goal{
                width: 100%;
                height: fit-content;
                padding: 30px;
                background-color: var(--backgroundColor);
                border: solid 1px var(--dimColor);
                border-radius: var(--mainBorderRadius);
                box-shadow: var(--mainShadow);
            }

            & .follower .wrapper{
                display: flex;
                gap: 60px;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 24px;

                .count{
                    text-align: center;
                    width: fit-content;

                    .followerCounter{
                        font-size: 30px;
                        font-weight: var(--boldFont);
                    }

                    & p:not(.followerCounter){
                        font-size: 12px;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}